* {
	padding: 0;
	margin: 0;
}

body {
  	font-family: 'Open Sans', sans-serif;
  	text-align: center;
}

h1 {
	font-size: 50px;
	padding: 20px;
}

h2 {
	font-size: 40px;
	padding: 20px;
}

a {
	text-decoration: none;
}

nav {
	background-color: #00FA9A;
	opacity: .9;
	position: fixed;
	width: 100%;
	height: 6vh;
	min-height: 45px;
	display: flex;
}

nav a {
	flex: 1;
	margin: auto 0;
	color: #008080;
}

img {
	padding: 1rem;
}

.project {
	border: 2px solid black;
	min-height: 200px;
	overflow: auto;
}

.project img {
	width: 70vw;
	height: auto;
}

.profile-link {
	display: block;
}

#about {
	padding-top: 30vh;
	height: 70vh;
	background-color: #00FA9A;
}

#project-container {
	display: grid;
	grid-template-columns: repeat(1, auto);
}

#projects {
	min-height: 86vh;
	padding: 7vh 0;
}

#contact {
	min-height: 93vh;
	padding-top: 7vh;
	background-color: #B0E0E6;
}

@media (min-width: 600px) {
	#project-container {
		display: grid;
		grid-template-columns: repeat(2, auto);
	}

	.project img {
		width: 35vw;
	}

	.profile-link {
		display: inline-block;
	}
}

@media (min-width: 900px) {
	nav {
		justify-content: end;
	}

	nav a {
		flex: 0;
		padding: 0 80px;
	}

	#project-container {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(2, 40vh);
		grid-gap: 1vh;
	}

	#projects {
		padding: 7vh;
		min-height: 86vh;
		height: 86vh;
	}

	#contact {
		padding: 7vh;
		min-height: 86vh;
		height: 86vh;
	}

	#contact h2 {
		padding-bottom: 10vh;
	}

	.profile-link {
		margin: 50px;
	}

	.project {
		padding: 10px;
	}

	.project img {
		width: 15vw;
		max-width: 300px;
	}

}