@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  	font-family: 'Montserrat', sans-serif;
  	text-align: center;
}

h1 {
	font-size: 3.25rem;
	padding: 0.5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

nav {
	background-color: #00FA9A;
	opacity: .9;
	position: fixed;
	width: 100%;
	height: 6vh;
	min-height: 45px;
	display: flex;
	z-index: 2000;
}

nav a {
	flex: 1;
	margin: auto 0;
	color: #008080;
}

img {
	display: inline-block;
	margin: 1rem;
	padding: 0;
}

#home {
	padding-top: 30vh;
	height: 70vh;
	background-color: #00FA9A;
}

#projects {
	min-height: 86vh;
	padding: 7vh 0;
}

.project {
	border: 2px solid black;
	display: relative;
	min-height: 200px;
	padding: 1.5rem 0;
	margin: 1rem 0;
}

.project img {
	max-width: 70vw;
	height: auto;
	max-height: 50vh;
}

#contact {
	min-height: 93vh;
	padding-top: 7vh;
	background-color: #B0E0E6;
}

@media (max-width: 599px) {
	
	h1 {
		font-size: 2.75rem;
	}

	h2 {
		margin: 1rem 0 0.5rem 0;
	}

	#profile-images {
		display: flex;
		flex-direction: column;
	}
	
}

@media (max-width: 899px) {

	#about {
		padding-top: 8vh;
		height: 92vh;
		background-color: #FAFAD2;
	}

	#skills {
		margin: 1rem auto;
	}

	.skills-header {
		font-size: 2rem;
		margin: 3rem;
	}
	
	#skills th, td {
		padding: 0.25rem 2rem;
	}

	.about-description {
		text-align: justify;
		width: 90%;
		margin: 0 auto;
	}
	
	#project-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.project {
		width: 90vw;
	}

	.project-title {
		display: none; 
	}

	.icons {
		min-width: 200px;
		max-width: 50%;
		position: relative;
		margin: 0 auto;
		font-size: 40px;
		padding: 0 20px;
		display: flex;
		justify-content: space-around;
	}

	.icons i {
		color: black;
	}

}

@media (min-width: 600px) and (max-width: 899px) {

	.project img {
		max-height: 70vh;

	}

	.profile-link {
		margin: 0 1rem;
	}

}

@media (min-width: 900px) {

	nav {
		justify-content: flex-end;
	}

	nav a {
		flex: 0;
		padding: 0 50px;
	}

	#about {
		padding-top: 20vh;
		height: 80vh;
		background-color: #FAFAD2;
	}

	#projects {
		padding: 7vh;
		min-height: 86vh;
		height: 86vh;
	}

	#project-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2vh;
	}

	.project img {
		max-width: 20vw;
		height: 40vh;
	}

	.about-description {
		text-align: justify;
		width: 50%;
		margin: 0 auto;
	}

	#skills {
		margin: 1rem auto;
	}

	.skills-header {
		font-size: 2rem;
		margin: 3rem;
	}
	
	#skills th, td {
		padding: 0.25rem 2rem;
	}

	#contact h2 {
		padding-bottom: 15vh;
	}

	.profile-link {
		display: inline-block;
		margin: 50px;
	}

	.project {
		position: relative;
	}	

	.caption {
		top: 0;
		position: absolute;
		height: 100%;
		width: 100%;
		color: white;
		filter: opacity(0%);
		background: black;
		z-index: 1000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		transition: all .5s;
	}

	.caption h3 {
		position: relative;
		top: -100px;
		max-width: 80%;
		margin: 0 auto;
		padding: 10px;
		font-size: 20px;
		transition: all .2s;
	}

	.icons {
		min-width: 200px;
		max-width: 50%;
		position: relative;
		margin: 15px auto;
		font-size: 40px;
		padding: 10px 20px;
		display: flex;
		justify-content: space-around;
	}

	.icons a {
		color: white;
	}

	.information {
		bottom: -100px;
		transition: all .2s;
		position: relative;

	}

	.project:hover > .caption {
		filter: opacity(90%);
	}

	.project:hover > .caption h3 {
		filter: opacity(100%);
		top: 0;
	}
	
	.project:hover > .caption .information {
		opacity: 1;
		bottom: 0;
	}

}