body {
  	font-family: 'Open Sans', sans-serif;
  	text-align: center;
}

h1 {
	font-size: 3.25rem;
	padding: 0.5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

nav {
	background-color: #00FA9A;
	opacity: .9;
	position: fixed;
	width: 100%;
	height: 6vh;
	min-height: 45px;
	display: flex;
}

nav a {
	flex: 1;
	margin: auto 0;
	color: #008080;
}

img {
	display: inline-block;
	margin: 1rem;
	padding: 0;
}

#about {
	padding-top: 30vh;
	height: 70vh;
	background-color: #00FA9A;
}

#projects {
	min-height: 86vh;
	padding: 7vh 0;
}

.project {
	border: 2px solid black;
	min-height: 200px;
	padding: 1.5rem 0;
	margin: 1rem 0;
}

.project img {
	max-width: 70vw;
	height: auto;
	max-height: 50vh;
}

#contact {
	min-height: 93vh;
	padding-top: 7vh;
	background-color: #B0E0E6;
}

@media (max-width: 599px) {
	
	h1 {
		font-size: 2.75rem;
	}

	h2 {
		margin: 1rem 0 0.5rem 0;
	}

	#profile-images {
		display: flex;
		flex-direction: column;
	}
	
}

@media (max-width: 899px) {
	
	#project-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.project {
		width: 90vw;
	}

}

@media (min-width: 600px) and (max-width: 899px) {

	.project img {
		max-height: 70vh;

	}

	.profile-link {
		margin: 0 1rem;
	}

}

@media (min-width: 900px) {

	nav {
		justify-content: flex-end;
	}

	nav a {
		flex: 0;
		padding: 0 80px;
	}

	#projects {
		padding: 7vh;
		min-height: 86vh;
		height: 86vh;
	}

	#project-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2vh;
	}

	.project img {
		max-width: 20vw;
		height: 40vh;
	}

	#contact {
		padding: 7vh;
		min-height: 86vh;
		height: 86vh;
	}

	#contact h2 {
		padding-bottom: 10vh;
	}

	.profile-link {
		margin: 50px;
	}

}